oxxo/oksametal/OxxoSolution/OxxoUserInterface/obj/Debug/OxxoUserInterface.csproj.FileListAbsolute.txt
oxxo/oksametal/OxxoSolution/OxxoUserInterface/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache